{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Aryan Verma - About Me</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style123.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		
		<div id="name">
			<h1 class="quickFade delayTwo">Welcome to Av Tech</h1>
			<h2 class="quickFade delayThree">LETS INNOVATE</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>Email: <a href="mailto:aryan2003.2011@gmail.com" target="_blank">aryan2003.2011@gmail.com</a></li>
				<li>Mobile: +91 8860085020</li>
			</ul>
		</div>
		<div class="clear"></div> 
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>GD. Goenka, Public School</h2>
					<p class="subDetails">March 2008 - Present</p>
					<p class="subDetails">Physics, Chemistry, Mathematics, English, Computer Science</p>
			</article>
		</div>
		<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Online Courses</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Introduction to Python by University of Michigan on Coursera</h2>
					<p class="subDetails">2019-20</p>
					<p class="subDetails">•	Introduced to the  fundamental programming concepts including data structures, networked application program interfaces, and databases, using the Python programming language</p>
					<br>
		

				</article>
			
				<article>
					<h2>Introduction to Structured Query Language by University of Michigan on Coursera</h2>
					<p class="subDetails">2019-20</p>
					<p>•	Learnt about single table queries and the basic syntax of the SQL language, as well as database design with multiple tables, foreign keys, and the JOIN operation.
<br>•	Learnt to model many-to-many relationships like those needed to represent users, roles, and courses.

.</p>
				</article>
				
				</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Academic Achievement</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<p class="subDetails">•	Received Scholastic Excellence Award for outstanding performance consecutively for 8 years	
<br>•	Received a Subject topper Award in Science & Social Science in CBSE	Board 
<br>•	Roll of Honour in Physics, Chemistry, Maths, Computer Science, English 		
<br>•	Roll of Honour in Science, Social Science, Hindi, English, Maths 
<br>•	Roll of Honour in Science, Social Science, Hindi, English 
<br>•	Scored qualifying marks in the Google Code to Learn 
</p>
					<br>
		

				</article>
				
				</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Leadership </h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Founder&President Computer Club  Goenkan Tech Guild </h2>
					<p class="subDetails">2019-20</p>
					<p class="subDetails">•	Drafted the proposal, Initiated the club and selected the core committee member
<br>•	Designed the mandate of the Computer Club and conducted bimonthly meetings to explore Computer science trends. Encouraged juniors to join the club by explaining the club methodology
<br>•	Moderated discussions about CS related topics such as algorithms, small projects such as coding a basic game
<br>•	Aided students with Java and other languages and topics such as C, C++, Python, and Web Design.
</p>
					<br>
		

				</article>
			
				<article>
					<h2>Founder&President Goenkan Tech Week </h2>
					<p class="subDetails">Lockdown June 2020-21</p>
					<p class="subDetails">•	Organised Goenkan Tech Week for students of class 6-11 and competitions “Loced in the Den” that entailed app building game designing poster, ,movie making, photography
<br>•	Collaborated in designing the club logo, ideating the concepts, drafting guidelines, and registration process
<br>•	Developed a website for the Goenkan Tech Guild and managed the social medial presence of the competition
</p>
					<br>
		

				</article>
				<article>
					<h2>President, MUN Society</h2>
					<p class="subDetails">2020-21</p>
					<p class="subDetails">•	Led a team of over 100 Students during MUNs
<br>•	Initiated and organized the GD Goenka International MUN from 2017 to 2020
<br>•	Responsible for allocating allotments to the delegates of all the committees 
<br>•	Ensured the arrival of payments, logistics and all the concerns of the delegates
<br>•	Organized and conducted Mock-MUN sessions to train juniors for MUN conferences
<br>•	Altered and customized MUN study guides for students, making the training relevant to the club
<br>•	Organized conferences in school and ensured participation
<br>•	Encouraged juniors to join the MUN Club and conducted training sessions for them by explaining the basic rules of procedure and research methodology

</p>
					<br>
		

				</article>
				
				</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Internship</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Vinsol</h2>
					<pclass="subDetails">Vinayak Solutions Pvt Ltd 
					<br>2020-21
				</p>
					

					

				</article>
				
				</div>
			<div class="clear"></div>
		</section>
		<section>
			<div class="sectionTitle">
				<h1>Community Service</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Lex Alliance Foundation</h2>
					<pclass="subDetails">2019-21</p>

					

				</article>
				
				</div>
			<div class="clear"></div>
		</section>
		<section>
			<div class="sectionTitle">
				<h1>Research Work</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Natural Language Processing to assist the visually disabled to write the central board of Secondary Examination without a scribe</h2>
					<pclass="subDetails">2019-21</p>

					

				</article>
				
				</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
{% endblock %}