{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
<title>Activities</title>
<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 
<link type="text/css" rel="stylesheet" href="{% static 'css/style123.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="name">
			<h1 class="quickFade delayTwo" align="center">Activites</h1>
			</div>
			<div class="clear"></div>
			
		<div class="clear"></div> 
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<div class="sectionTitle">
				<h1>GoenkanTechWeek</h1>
				<br>
				
			</div>
			
			<div class="video-wrap">
				<article>
					<br>
					<br>
					<video width="420" height="315" controls>
 <source src="{% static 'videos/close.mp4' %}" type="video/mp4" />
 </video>
					<br>
					<br>
					<br>
			<h3>Acting as the President, I with the help of my club organized 6 competitions in the span of one week from 8th to 12th. The competitions were - snap it, D’zined, Boxed in, Appify, Gamathon & RoboCup. So, keeping the present conditions in mind, the theme was - “LOCKED IN THE DEN” </h3>
			</article>
		</div>
		<div class="clear"></div>
		</section>
		<section>
			<div class="sectionTitle">
				<h1>GoenkanTechFest</h1>
				<br>
				<br>
				
			</div>
			
			<div class="video-wrap">
				<article>
					<br>
				<br>
					<video width="420" height="315" controls>
 <source src="{% static 'videos/gtf.mp4' %}" type="video/mp4" />
 </video>
					<br>
					<br>
					<br>
			<h3>After the success of the Goenkan Tech Week, we were called upon to organise the first and only Inter School of the year. The Goenkan Tech Fest with even more competition such as Techy Canvas and Tech Talk. We lived each event on our youtube channel.</h3>
			<a href= 'https://www.youtube.com/channel/UCNFbn_CR3lc-rfksSd5CUnA' >Link to the channel</a>
			</article>
		</div>
		<div class="clear"></div>
		</section>
		<div class="clear"></div>
		<section>
			<div class="sectionTitle">
				<h1>GDGIMUN</h1>
				<br>
				
			</div>
			
			<div class="video-wrap">
				<article>
					<video width="420" height="315" controls>
 <source src="{% static 'videos/open.mp4' %}" type="video/mp4" />
 </video>
					<br>
					<br>
					<br>
			<h3>Model United Nations is something which is my true passion. After being a part of the club since grade 8th and winning various accolades, I finally became the part of the Secretarait in 2019 and event the president of the club in 2020.</h3>
			</article>
		</div>
		<div class="clear"></div>
		</section>
		<section>
			<div class="sectionTitle">
				<h1>Scholastic Ceremony</h1>
				<br>
				<br>
				
			</div>
			
			<div class="video-wrap">
				<article>
					<br>
				<br>
					<video width="420" height="315" controls>
 <source src="{% static 'videos/scholastic.mp4' %}" type="video/mp4" />
 </video>
					<br>
					<br>
					<br>
			<h3>After working hard for 8 years and constant performing well in each and exam, I was awarded with the most prestigious award of my school : Scholastic Excellence Award</h3>
			</article>
		</div>
		<div class="clear"></div>
		</section>
<section>
			<div class="sectionTitle">
				<h1>Behind the Scenes</h1>
				<br>
				<br>
				
			</div>
			
			<div class="video-wrap">
				<article>
					<video width="420" height="315" controls>
 <source src="{% static 'videos/btss.mp4' %}" type="video/mp4" />
 </video>
					<br>
					<br>
					<br>
			<h3>From days of constantly siting for days in the library organising the Model United Nations to being forced to sit inside our homes and collaborating through zoom and google meets for the Goenkan Tech Week and Goenkan Tech Fest, the start of the Goenkan Tech Guild was not that easy but we worked our way to becoming the one of the most prominent club in the year 2020.</h3>
			</article>
		</div>
		<div class="clear"></div>
		</section>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
 {% endblock %}
 