{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Intuitive Sanitizing Tunnel</title>
<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 
<link type="text/css" rel="stylesheet" href="{% static 'css/style123.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="name">
			<h1 class="quickFade delayTwo">Intuitive Sanitizing Tunnel</h1>
			<h2 class="quickFade delayThree">Automated Sanitizing System</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
		</div>
		<div class="clear"></div> 
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
<section>
			<div class="sectionTitle">
				<h1>Problem</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<p class="subDetails">Suppose you order a product or groceries. The delivery boy comes with the groceries or the product. The delivery boy must be visiting several houses and coming in contact with several surfaces. Is it safe to take the item directly from the distributor? How can you ensure no contact? How can you ensure to sanitize the product? Is sanitizing by alcohols effective?</p>
			</article>
		</div>
		<div class="clear"></div>
		</section>
<section>
			<div class="sectionTitle">
				<h1>Aim</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<p class="subDetails">1.To avoid any contact between the distributor and consumer.
					<br> 2.	To sanitize the packaged good using UV-C light
					</p>
				</article>
		</div>
		<div class="clear"></div>
		</section>
<section>
			<div class="sectionTitle">
				<h1>Research</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<p class="subDetails"><b><u>Problem :</u></b></p>
					<p class="subDetails">According to the study from National Institutes of Health, CDC, and UCLA and Princeton University scientists published in The New England Journal of Medicine, the virus was detectable for “up to four hours on copper, up to 24 hours on cardboard and up to two to three days on plastic and stainless steel.” </p>
					<p class="subDetails">Just recently, a pizza delivery boy in South Delhi was found to be COVID-19 positive. Reports suggest that as many as 72 families from across South Delhi, who received packages from the delivery boy have been asked to practice self-quarantine after the latest reports. A detailed trail has also been made to identify the same.</p>
					<p class="subDetails">Even though restaurants and food delivery merchants are promising the strictest of safety precautions during this time of crisis, it is natural for people to worry.</p>
					<br>
					<p class="subDetails"><b><u>Solution :</u></b></p>
					<p class="subDetails">Surface purification Surface purification generally requires high-intensity short-wave UV light. Mostly this means TUV lamps are mounted close to the surface requiring to be kept free from infection or to be purified.</p>
					<p class="subDetails">The success of surface purification depends largely on the surface irregularity of the material to be purified, because UV light can only inactivate those micro-organisms that it hits with a sufficient dose. </p>
					<p class="subDetails">Thus purification can only be successful if the entire surface is exposed to UV light. Micro-organisms sitting in "holes" in a surface are not likely be overcome by reflections from the hole walls, as can be deduced from the reflectances.</p>
			</article>
		</div>
		<div class="clear"></div>
		</section>

<section>
			<div class="sectionTitle">
				<h1>Working</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<p class="subDetails">When the delivery boy comes close to the tunnel, the ultrasonic sensor detects the delivery boy. The buzzer erupts to warn the consumer to maintain distance from the tunnel. Tunnel opens with the help of servo motor and waits for the delivery boy to enter the stuff. After the tunnel closes, the UV bath sanitisation process begins with the help of relay. This goes on for 30 mins. Once UV-sanitisation is over, the buzzer would erupt and the consumer could take the product.</p>
			</article>
		</div>
		<div class="clear"></div>
		</section>
<section>
			<div class="sectionTitle">
				<h1>Effectiveness</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<p class="subDetails">Intuitive
Sanitizing Tunnel that can sanitize grocery parcels or other deliveries using Ultraviolet Light with 99.9%
effectiveness using Philips TUV 11 which consists of a tubular glass of envelope, emitting short wave
ultraviolet radiation with a peak 254nm for germicidal action</p>
			</article>
		</div>
		<div class="clear"></div>
		</section>
</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
{% endblock %}